.headerNav {
   position: relative;
   width: 100%;
   top: 0;
   left: 0;
   background-color: transparent;
   z-index: 100;
  }

.nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: linear-gradient(180deg, #345DA7, #4BB4DE);
   height: 3.5rem;
   padding-left: 1rem;
   padding-right: 1rem;
}

.nav-text{
   color: #ffffff;
   transition: color 0.4s;
   font-weight: bold;
}

.nav-home {
   font-size: var(--h2-font-size);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-home:hover {
   color: #345DA7;
}

.nav-logo {
   font-size: 1.3rem;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: italic;
   text-decoration: none;
}