.Questions {
  display: flex;
  height: 100vh;
}

.BtnBar{
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 22.5rem;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
  
.sidebar {
  width: 20%;
  padding: 20px;
  background-color: #f5f5f5;
  border-right: 1px solid #ddd;
}

.scrollable {
  max-height: 81.5vh; /* Adjust this value as needed */
  overflow-y: auto;
}

.concept {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

.concept.active {
  background-color: #e0e0e0;
  font-weight: bold;
}

.content {
  width: 80%;
  padding: 20px;
}

.questionsContainer {
  margin-top: 20px;
}

.question {
  margin-bottom: 15px;
}
  