.App {
  text-align: center;
  overflow-y: auto;
}

.gradient_background {
  background: linear-gradient(180deg, #4BB4DE, #345DA7);
  height: calc(100vh - 3.5rem);
  width: 100vw;
}

.Title {
  margin-top: 8%;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.Text {
  margin-top: 5%;
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.First-Row{
  margin-top: 5%;
}

.Second-Row{
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

.Box {
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 2%;
  padding: 2rem;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 20px;
  max-height: 50vh;
  overflow-y: auto;
}