.App {
  text-align: center;
}

.gradient_background {
  background: linear-gradient(180deg, #4BB4DE, #345DA7);
  height: 100vh;
  width: 100vw;
}

.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.Text {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.First-Row{
  padding: 2rem;
}

.Second-Row{
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.Box {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 4rem;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 20px;
}